:root.theme-dark {
  --backround-color: #000028;
  --background-image: url("../images/cover-image-dark.png");
  --text-color: #f1b2ce;
  --accent-color: #FF0070;
  --title-color: #db00ff;
  --secondary-color: #ff0070;
  --secondary-color: #ff0070;
  --button-color: #ff0070;
  --button-hover: rgb(255, 0, 112, 1);
  --decor-color: #ff0070;
  --title-text-color: #000028;
}         

.theme-dark .page {
  display: block;
}
